@model HRMSWeb.Models.AT_Users
@{
    Layout = null;
}
@if (CRM_Common.CheckPermissions(PermissionEnum.ManageUserProfile, CRM_Common.GetControler(this.ViewContext)))
{
<input type="hidden" id="lbMsg" value="@ViewBag.msg"/>
<section class="boxs ">
    <!-- boxs header -->
    <div class="boxs-header ">
        <h1 class="custom-font"><strong><i class="glyphicon glyphicon-user mr-10"> </i>Profile</strong></h1>
    </div>
    <div class="boxs-body">
        <div class="row ">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" enctype="multipart/form-data">
                    <div class="form-group is-empty">
                        <label for="" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-4">
                            @Html.HiddenFor(model=>model.UserID)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <label for="" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="form-group is-empty">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email Address</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email Address" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <label for="" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                </div>
                   <div class="form-group is-empty">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control",type="password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="form-group is-fileinput is-empty">
                        <label class="col-sm-2 control-label">Select Picture</label>
                        <div class="col-sm-4 chose_file">
                            <img src="" class="profile_image" style="display:none;">
                            <input type="file" class="filestyle" id="profile_image" name="upload" data-buttontext="Select file" data-iconname="fa fa-inbox" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                            <div class="bootstrap-filestyle input-group">
                                <input type="text" class="form-control " disabled="">
                                <span class="group-span-filestyle input-group-btn" tabindex="0">
                                    <label for="profile_image" class="btn btn-default ">
                                        <span class="glyphicon fa fa-inbox"></span>
                                        Select file
                                        <div class="ripple-container">
                                            <div class="ripple ripple-on ripple-out" style="left: 1021px; top: 457px; background-color: rgba(0, 0, 0, 0.870588); transform: scale(10);">
                                            </div>
                                        </div>
                                    </label>
                                </span>
                            </div>
                        </div>     
                    </div>
                    @*<div class="form-group is-empty">
                        <label for="" class="col-sm-2 control-label">Biography</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Biography, new { @class = "form-control", @placeholder = "Biography", @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Biography)
                        </div>
                    </div>*@
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
@if (CRM_Common.CheckPermissions(PermissionEnum.ManageUserProfile, CRM_Common.GetControler(this.ViewContext)))
{
                <button type="button" class="btn btn-raised btn-info btn-md" id="btnSaveUserProfile"><i class="fa fa-refresh mr-10"></i> Update</button>
}
             </div>
        </div>
    </div>
</section>
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Phone").mask("(999) 999-9999");
        $.onbody("keyup", "#ComissionPercentage", function () {
            if (isNaN($(this).val()) && $(this).val() != "") {
                showStatusMsgPopup("2", "Percentage must be Number")
                $(this).val("")
            }
            if (parseInt($(this).val()) > 100) {
                showStatusMsgPopup("2", "Percentage Cannot Be Greater than 100")
                $(this).val(0)
            }
        });
        $.onbody("click", "#btnSaveUserProfile", function () {
            debugger;
            var formData = new FormData($("form")[0]);
            if ($("form").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/CRM_Setting/UserProfileSave',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#DivPartial").html(data)
                        if ($('#lbMsg').val() == "Update successfully!") {
                            showStatusMsgPopup("1", $('#lbMsg').val());
                            $('#tblRole').dataTable();
                        }
                        else {
                            showStatusMsgPopup("3", "An Error Occured while processing.");
                        }
                    },
                    error: function (data) {
                        showStatusMsgPopup("3", "An Error Occured while processing.");
                    }
                });
            }
            else {
                return false;
            }
        });
    });
</script>