@model HRMSWeb.Models.AT_Users
@{
    Layout = null;
}
@if (CRM_Common.CheckPermissions(PermissionEnum.ManageUserProfile, CRM_Common.GetControler(this.ViewContext)))
{
<input type="hidden" id="lbMsg" value="@ViewBag.msg"/>
<section class="boxs ">
    <!-- boxs header -->
    <div class="boxs-header ">
        <h1 class="custom-font"><strong><i class="glyphicon glyphicon-user mr-10"> </i>Profile</strong></h1>
    </div>
    <div class="boxs-body">
        <form class="form-horizontal" id="frmuserprofile" role="form" enctype="multipart/form-data">
            <div class="row">

                <div class="col-sm-2"><label>First Name :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.UserID)
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-sm-2"><label>Last Name :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2"><label>Email :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email Address" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="col-sm-2"><label>Phone :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone" })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2"><label>Password :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="col-sm-2"><label>Confirm Password :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2"><label>Select Picture :</label></div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <div class="form-group is-fileinput is-empty">
                            <div class="col-sm-4 chose_file">
                                <img src="" class="profile_image" style="display:none;">
                                <input type="file" class="filestyle" id="profile_image" name="upload" data-buttontext="Select file" data-iconname="fa fa-inbox" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="text" class="form-control " disabled="">
                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                        <label for="profile_image" class="btn btn-default ">
                                            <span class="glyphicon fa fa-inbox"></span>
                                            Select file
                                            <div class="ripple-container">
                                                <div class="ripple ripple-on ripple-out" style="left: 1021px; top: 457px; background-color: rgba(0, 0, 0, 0.870588); transform: scale(10);">
                                                </div>
                                            </div>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    @if (CRM_Common.CheckPermissions(PermissionEnum.ManageUserProfile, CRM_Common.GetControler(this.ViewContext)))
                    {
                        <button type="button" class="btn btn-primary" id="btnSaveUserProfile"><i class="fa fa-refresh mr-10"></i>Update</button>

                        @*<button type="button" class="btn btn-raised btn-info btn-md" id="btnSaveUserProfile"><i class="fa fa-refresh mr-10"></i> Update</button>*@
                    }
                </div>
            </div>
            </form>
</div>
</section>
}
<script>
    $(document).ready(function () {
        //$("#Phone").mask("(999) 999-9999");
        $.onbody("keyup", "#ComissionPercentage", function () {
            if (isNaN($(this).val()) && $(this).val() != "") {
                showStatusMsgPopup("2", "Percentage must be Number")
                $(this).val("")
            }
            if (parseInt($(this).val()) > 100) {
                showStatusMsgPopup("2", "Percentage Cannot Be Greater than 100")
                $(this).val(0)
            }
        });
        $.onbody("click", "#btnSaveUserProfile", function () {
            debugger;
            var formData = new FormData($("#frmuserprofile")[0]);
            if ($("#frmuserprofile").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/CRM_Setting/UserProfileSave',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#DivPartial").html(data)
                        if ($('#lbMsg').val() == "Update successfully!") {
                            showStatusMsgPopup("1", $('#lbMsg').val());
                            $('#tblRole').dataTable();
                        }
                        else {
                            showStatusMsgPopup("3", "An Error Occured while processing.");
                        }
                    },
                    error: function (data) {
                        showStatusMsgPopup("3", "An Error Occured while processing.");
                    }
                });
            }
            else {
                return false;
            }
        });
    });
</script>